name: CI
on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Backend Tests
        run: |
          # Start DB only
          docker compose up -d db
          sleep 20
          
          # Run migrations
          docker compose run --rm backend python manage.py migrate
          
          docker compose run --rm backend python manage.py test meetings.tests
